<div id="quiz-view">

	<%= link_to 'back to deck', deck_path(@deck)%>
	<div id="flashcard">
		<div id="flashcard-a"><%= @flashcard.side_a %></div>
		<div id="flashcard-b"><%= @flashcard.side_b %></div>
	</div>

	<% unless @flashcard_prev.nil?%>
		<%= link_to @flashcard_prev.side_a, memorize_prev_path(@deck.id, @flashcard_prev.id),:id=> 'prev-button'%>
	<% end %>

	<%= link_to 'next', memorize_path(@deck.id), :id=> 'next-button'%>
</div>