<%content_for :head do%>
	<script type="text/javascript">
		$(document).ready(function(){
			// $('#navigation').remove();
			$.each($('.prepopulated-field'), function(i,v){
				$(v).prepopulateDefault();
			})
			
		})

	</script>
<%end%>

<div id="log-in-div">
	<%= form_tag sessions_path do %>
	  <div class="prepopulated-field">
	    <%= label_tag :email %>
	    <%= text_field_tag :email, params[:email] %>
	  </div>
	  <div class="prepopulated-field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
	  </div>
	  <%= submit_tag "Log in", :id=> 'log-in-submit' %>
	<% end %>
</div>