<% content_for(:head) do%>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var deck_id = $("#deck-id").text();
			$("#deck-flashcards").loadFlashcards(deck_id);
			var new_flashcard = $("#deck-flashcard-new");
			if ($(new_flashcard).length > 0){
				$(new_flashcard).loadFlashcardsForm(deck_id);
			}
			if ($('#deck-flashcard-new').length==0){
				$('.edit-button').hide();
			}
			
			$('.edit-div').inLineTextEdit('/api/deck/edit.json?id='+deck_id+'&title=');
			
		});
	</script>
<% end %>

<% content_for :header_title do%>
	<div class="edit-div">	
		<div class="edit-object"><%= @deck.title %></div>
		<a href="#" class="edit-button">
			<span class="icon edit-icon"></span><span class="edit-hint">edit</span>
		</a>
	</div>
<% end %>

<% content_for :toolbar do%>
	<% if current_user%>
		<%= link_to 'Start Learning', prepare_learn_deck_path(@deck), :id => 'start-learning-button'%>
	<% end %>
<% end %>
<% if current_user==@deck.user%>
	<div id="deck-flashcard-new"> 
	</div>
<% end %>


<div id="deck-profile-left">
	<div id="deck-masters">
		<% @masters.each do |master|%>
			<div class="deck-master">
				<div class="deck-master-score">
					<%= "#{(master[:score]*100).round(2)}%" %>
				</div>				
				<div class="deck-master-date">
					<%= time_ago_in_words(master[:last_session]) %>
				</div>
				<br>
				<div class="deck-master-name">
					<%= link_to master[:user][:name], user_path(User.find(master[:user][:id]))%>
				</div>
			</div>
		<% end %>		
	</div>	
</div>
<div id="deck-profile-central">	

	<div id="deck-flashcards">
		<div id="deck-id" style="display:none;"><%= @deck.id%></div>
	</div>
</div>
<div id="deck-profile-right">
	
</div>