<!DOCTYPE html>
<html>
<head>
  <title>Ta2</title>  
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application" %>
  <%= yield(:head)%>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="navigation">
	<div id="nav-wrapper">	
		<a href="/" id="logo-wrapper"><%= image_tag 'logo7.png', :id => 'logo'%></a>
		<ul id="nav-bar">
			<li><%= link_to "Decks", decks_path%></li>			
		</ul>
		<ul id="user-bar">
			<% if current_user %>
				<li><%= link_to current_user.name, edit_user_path(current_user), :id=> 'user-profile', :user_id => current_user.id%></li>
				<li><%= link_to "Log Out", logout_path%></li>
			<% end %>
		</ul>		
	</div>
</div>


<div id="wrapper">
	<div id="header-title">
		<%= yield :header_title%>
	</div>
	<div id="toolbar">
		<%= yield :toolbar%>
	</div>
	<div id="content">		
		<%= yield %>
	</div>
	
	<div id="footer">
		ta2 &copy; 2012
	</div>
</div>
</body>
</html>
